<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nemo perferendis assumenda cupiditate commodi, mollitia 
                error dolore eos distinctio culpa inventore sequi unde 
                at odit modi, totam possimus fuga? Suscipit rerum soluta a 
                eius omnis culpa nam beatae sint assumenda! Itaque beatae ad 
                odit modi suscipit ducimus in inventore magnam fugiat. 
                Tempore omnis perspiciatis placeat enim, natus similique libero 
                quae amet quas iste autem nobis quam maxime laboriosam dolorem 
                repellat. Consequatur non, fuga, ut unde nihil quod laborum et 
                aperiam cumque iure sequi officiis error tempora autem voluptate doloremque quia aspernatur quaerat hic sapiente ab. Corporis quis doloremque minima sunt id.</p>
        </section>
    </main>

    <%- include('./partials/footer') %>
</body>
</html>